/**
 * Login Styling CSS.
 */

.podcasts-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.podcasts-container .podcast-card {
    background-color: rgba(199, 199, 199, 0.5);
    border: 1px solid darkgreen;
    border-radius: 2%;
    display: grid;
    grid-template-rows: 1fr 2rem;
    margin: 0 1% 1% 0;
    min-height: 18%;
    max-width: 18%;
    min-width: 18%;
    opacity: 85%;
    padding: 1%;
}

.podcasts-container .podcast-card img {
    border-radius: 3px;
    grid-row: 1;
    height: 100%;
    width: 100%;
}

.podcasts-container .podcast-card p {
    grid-row: 2;
}