/**
 * Header Styling CSS.
 */

header {
    flex-shrink: 0;
}

header .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .header-container img {
    margin-right: 1rem;
    width: 3rem;
}

header .header-container a {
    position: fixed;
    right: 2%;
    top: 2%;
}