/**
 * Login Styling CSS.
 */

.error-container {
    display: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.login-container .login-form input,
.login-container .login-form button,
.login-container h2 {
    border-radius: 5px;
    height: 40px;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}